<!doctype html>
<html ng-app="app">      
<head>
    <title>Simple To Do List using AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <h1>Simple To Do List using AngularJS</h1>

    <div ng-controller="ListController as list">

        <form name="addToDoList" ng-submit="list.addItem();">
            <p>
                <input type="text" placeholder="Add item" ng-model="list.newTodo" />
            </p>
            <p>
                <input type="submit"  value="Add" />
            </p>
        </form>

        <ul id="list">
            <li ng-repeat="item in list.todoList" ng-show="item.title">
                <p>
                    <input type="checkbox" ng-model="item.completed" />
                    <span 
                    ng-bind="item.title" 
                    ng-class="{completed: item.completed}"
                    ng-click="showEditField = true;" ng-hide="showEditField"></span>
                    <input 
                    ng-show="showEditField"
                    ng-model="item.title"
                    ng-blur="showEditField = false; list.updateItem(item, $index);" />
                </p>    
            </li>

        </ul>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ListController.js"></script> 
</body>
</html>